.container-div-creaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.container-tarjetas-ancho{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container-tarjetas-ancho a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 24px;
    padding: 8px 30px;
}

.container-tarjetas-creaciones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    
}